# See https://docs.github.com/en/repositories/managing-your-repositorys-settings-and-features/customizing-your-repository/about-code-owners for more information

# Defines the owner of the whole code repository
* @team-cappuccino
# Design Team Owns Visual Changes
src/ @team-design
# Marketing Team Owns Blog Changes
src/blog/ @team-marketing
src/blog.md @team-marketing