<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="UTF-8">
  <title>{{title}}</title>
  <link href="/styles.css" rel="stylesheet">
</head>
<body class="prose">
  <h1 class="text-red-500"> check out this tailwind</h1>
  {{ content | safe }}
</body>
</html>