name: Deploy Static Site

on:
    push:
        branches: ["main"]

permissions:
    id-token: write
    contents: read

env:
    AWS_ACCOUNT_ID: ${{ secrets.AWS_ACCOUNT_ID }}
    AWS_REGION: ${{ secrets.AWS_REGION }}
    BUILD_DIR: output
    S3_BUCKET: ${{ secrets.S3_BUCKET }}
    CF_DISTRIBUTION_ID: ${{ secrets.DISTRIBUTION_ID }}

jobs:
    deploy:
        runs-on: ubuntu-latest

        steps:
            - name: Checkout
              uses: actions/checkout@v4
            - name: Setup Deno environment
              uses: denoland/setup-deno@v2
              with:
                  deno-version: v2.x
            - name: Build site
              run: deno task build
            - name: Configure AWS credentials (OIDC)
              uses: aws-actions/configure-aws-credentials@v4
              with:
                  aws-region: ${{ env.AWS_REGION }}
                  role-to-assume: arn:aws:iam::${{ env.AWS_ACCOUNT_ID }}:role/github-deployer-blueprint_website
                  role-session-name: gh-deploy-static

            - name: Upload to S3
              run: |
                  aws s3 sync "$BUILD_DIR"/ "s3://$S3_BUCKET" --delete --only-show-errors

            - name: Invalidate CloudFront
              run: |
                  aws cloudfront create-invalidation \
                    --distribution-id "$CF_DISTRIBUTION_ID" \
                    --paths "/*"
