name: Lighthouse CI
on:
  workflow_run:
    workflows: ["Deploy Static Site"]
    types:
      - completed
jobs:
  lighthouse:
    if: ${{ github.event.workflow_run.conclusion == 'success' }}
    runs-on: ubuntu-latest
    steps:
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://www.sitblueprint.com
          uploadArtifacts: true
          temporaryPublicStorage: true
