name: Lighthouse CI
on:
  push:
    branches: ["main"]
jobs:
  lighthouse:
    runs-on: ubuntu-latest
    steps:
      - uses: actions/checkout@v4
      - name: Audit URLs using Lighthouse
        uses: treosh/lighthouse-ci-action@v12
        with:
          urls: |
            https://www.sitblueprint.com
          uploadArtifacts: true
          temporaryPublicStorage: true
